# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# Environments
.env
venv/
ENV/
env/
myenv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Staticfiles
staticfiles/

# Jupyter
.ipynb_checkpoints/
